.btn {
    z-index: 100000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}

.icone {
    width: 25px;
    transition: ease-out 0.12s;
}

.icone:hover {
    width: 28px;
    

}
