* {
    font-family: 'Poppins', sans-serif
}

body {
  
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    
}



.bigtitleacc {
    color: rgb(0, 102, 161);
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.phraccroche {
    opacity: 1;
    margin: auto;
    color: white;
    position: relative;
    text-align: left;
    font-weight: bold;
    box-shadow: 0px 10px 0px 0px rgb(30, 33, 35);
    max-width: 700px;

}

.imgatos2 {
    display: flex;
    position: relative;
    margin: auto;
}

.resumeatos {
  
    right: 0;
    color: white;
    text-align: left;
 
    padding-top: 75px;
    font-size: 24px;
}





.slideshow-container {
    max-width: 450px;
    max-height: 200px;
    position: relative;
    margin: auto;
    padding-right: 50px;
  }

  .slideshow-container > .specialimg {
    max-width: 450px;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    opacity: 0;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 3.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

.containermax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgandtext {
    display: flex;
}

.imgandtext > .resumeatos {
    order: 2;
}

.textandimgmin {
    display: flex;
}


.containermin {
  opacity: 0;
  background-image: url(../IMG/imgnumbg.jpg);
  background-size: cover;
  font-size: 18px;
  padding: 40px 40px 40px 40px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-color: white;
        border-left: 10px;
        border-right: 10px;
        transition: opacity 0.8s ease, transform 0.8s ease;
        transform: translateY(20%); 

    
}



.centerp {
    color: white;


    text-align: right;
 

    padding-top: 50px;
    padding-right: 40px;
    font-size: 17px;
}

.left {
  text-align: left;
}

.center {
  margin: auto;
}

.right {
  text-align: right;
}

.contimg1, .contimg3 {
  text-decoration: none;
  font-size: 60px;
  padding-left: 150px;
  padding: 50px;
  color: white;
  text-align: left;
  justify-content: center;
  align-items: center;
  
}

.deconone {
  overflow: hidden;
}

.contimg2, .contimg4 {
  text-decoration: none;
  font-size: 60px;
  padding-right: 150px;
  padding: 50px;
  color: white;
  text-align: right;
  justify-content: center;
  align-items: center;
  
}

.containerimg1 {
  opacity: 0;
  padding: 175px;
  border-style: solid;
  border-color: white;
  border-left: 5px;
  display: flex;
  flex-direction: column;
  background-image: url(../IMG/histoiregrid.jpg);
  background-position: center;
  background-size: cover;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateX(-20%);
}

.containerimg2 {
  opacity: 0;
  padding: 175px;
  border-style: solid;
  border-color: white;
  border-left: 5px;
  display: flex;
  flex-direction: column;
  background-image: url(../IMG/statistiquesgrid.jpg);
  background-position: center;
  background-size: cover;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateX(20%);
}

.containerimg3 {
  opacity: 0;
  padding: 175px;
  border-style: solid;
  border-color: white;
  border-left: 5px;
  display: flex;
  flex-direction: column;
  background-image: url(../IMG/servicesgrid.webp);
  background-position: center;
  background-size: cover;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateX(-20%); 
}

.containerimg4 {
  opacity: 0;
  padding: 175px;
  border-style: solid;
  border-color: white;
  border-left: 5px;
  display: flex;
  flex-direction: column;
  background-image: url(../IMG/impactgrid.webp);
  background-position: center;
  background-size: cover;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateX(20%); 
}


.animg {
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom:20px;
  padding-right: 90px;
  padding-left: 90px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 15px rgba(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  transition: ease-out 0.3s;
}

.animg:hover {
  
  color: rgb(0, 102, 161);
  font-size: 63px;

}

.containerimg1.active,
.containerimg2.active,
.containerimg3.active,
.containerimg4.active {
  opacity: 1;
  transform: translateX(0); 
  transition: opacity 1s ease, transform 1s ease;
}



.containermin.active {
  opacity: 1;
  transform: translateY(0); 
  transition: opacity 1s ease, transform 1s ease;
}



.animhref1 {
  font-size: 30px;
  color: rgb(0, 102, 161);
  transition: ease-out 0.4s;
}

.resumeatos > a {
  text-decoration: none;
}



.animhref1:hover {
  transition: ease-out 0.4s;
  color: red;

}

.container-accroche {

  animation-duration: 0.7s;
  animation-name: containeranim;
}

@keyframes containeranim {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.imgandtext {
  animation-duration: 1.4s;
  animation-name: containeranim;
}

