/* styles.css */
* {
    font-family: 'Poppins', sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    
}

.timeline {
    position: relative;
    max-width: 650px;
    margin: auto;
    text-align: center;
    
}


.timeline::before {
    content: "";

    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #f2f7fa;
    left: 50%;
    transform: translateX(-50%);
}

.event {
    text-align: center;
    position: relative;
    margin: 25px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.event.active {
    opacity: 1;
    transform: translateY(0);
}

.event::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(91, 91, 91);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border: 2px solid #fff;
}

.event-content {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    position: relative;

    
    z-index: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255);
}

.event-content::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(91, 91, 91);
    border-radius: 50%;
    left: 50%;
    top: -6px;
    transform: translateX(-50%);
    border: 2px solid #fff;
}

.event h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.event p {
    font-size: 18px;
    margin: 10px 0 0;
    padding: 0;
    
}

/* hors frise chronologique */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative; /* position relative pour les bordures en forme de vague */
    border-style: solid;
    border-top:0;
    border-right:0;
    border-left:0;


 
    

}

.textgc {
    color: white;
    text-align: center;
    align-items: center;
    background: linear-gradient(
        to top,
        rgb(0, 102, 161),
        rgb(0, 60, 90),
        rgb(1, 32, 39),
        rgb(0, 0, 0),
        rgb(0, 0, 0)
        
    ); 
    padding: 20px; 
    border-radius: 20px; 
    position: relative;
    max-width: 900px; 
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 102, 161);
}

.bluetexth3 {
    color: rgb(0, 102, 161);
}



.imgbureau {
    display: block;
    margin-left: 20px;
    padding: 20px; /* ajoute marge interne pour le surlignage */
    border-radius: 20px; 
    border-style: solid;
    margin-bottom: 10px;
    position: relative; 
}

.textbas {
    font-size: 14px;
    color: white;
    text-align: right;
    align-items: right;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transform: translateY(20px);
    transform: translateX(20%);
    transition: opacity 1.2s ease, transform 1.2s ease;
}


.textleft {
    
    font-size: 14px;
    color: white;
    text-align: left;
    align-items: left;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transform: translateY(20px);
    transform: translateX(-20%);
    transition: opacity 1.2s ease, transform 1s ease;

}

.textbas.active {
    opacity: 1;
    transform: translateY(0);
    transform: translateX();
}

.textleft.active {
    opacity: 1;
    transform: translateY(0);
    transform: translateX();
}

.rightimg.active {
    opacity: 1;
    transform: translateY(0);
    transform: translateX();
}

.leftimg.active {
    opacity: 1;
    transform: translateY(0);
    transform: translateX();
}

.rightimg {
    text-align: right;
    position: absolute;
    padding-left: 75px;
    opacity: 0;
    transform: translateY(20px);
    transform: translateX(20%);
    transition: opacity 1s ease, transform 1s ease;
}

.leftimg {
    text-align: left;
    position: absolute;
    padding-left: 75px;
    left: 0;
    opacity: 0;
    transform: translateY(20px);
    transform: translateX(-20%);
    transition: opacity 1s ease, transform 1s ease;
}

.rightlegend {
    font-size: 12px;
    color: white;
    text-align: right;
    position: absolute;
    padding-top: 120px;
    padding-right: 90px;
    
}

.leftlegend {
    font-size: 12px;
    color: white;
    text-align: left;
    position: absolute;
    left: 0;
    padding-top: 135px;
    padding-left: 110px;
    
}

.leftlegend1 {
    font-size: 12px;
    color: white;
    text-align: left;
    position: absolute;
    left: 0;
    padding-top: 115px;
    padding-left: 112px;
    
}














