* {
    font-family: 'Poppins', sans-serif
}

body {
  overflow-x: hidden;
  
  background-color: rgb(0, 0, 0);

}

.entirecontainer {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px, 150px,150px;
  background-size: contain;
  background-repeat: no-repeat;
}

.bloc1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  width: 65%;
  border: 20px;
  border-color: rgb(15, 15, 111);
  padding: 150px, auto;
  position: relative;
  
}

.wrapper img{
max-width: 400px;
float: left;
border: 3px, white;
margin-right: 40px;
animation: fade 2s ease-in-out ;
}
.text-box{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
}
.bloc2{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  width: 65%;
  position: relative;
 


}
.wrapper1 img{
  max-width: 600px;
  float: right;
  border: 3px, white;
  margin-left: 40px;



  }
  .wrapper2 img{
    width: 100%;
    border: 3px, white;
    align-content: center;


    }
  .bloc3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    width: 65%;
    position: relative;

  background-size: cover;

  }
  .bloc3 h1{
    text-align: center;
  }


.bloc1, .bloc2, .bloc3 {
  opacity: 0;
}

.bloc1, .bloc3 {
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: translateX(30%); 
}


.bloc2 {
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: translateX(-30%); 
}


.bloc1.active, .bloc3.active {
  opacity: 1;
  transform: translateX(0); 
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.bloc2.active {
  opacity: 1;
  transform: translateX(0); 
  transition: opacity 1.5s ease, transform 1.5s ease;

}

.bluetexth3 {
  color: rgb(0, 102, 161);
}

.textgc {
  color: white;
  text-align: center;
  align-items: center;
  background: linear-gradient(
      to top,
      rgb(0, 102, 161),
      rgb(0, 60, 90),
      rgb(1, 32, 39),
      rgb(0, 0, 0),
      rgb(0, 0, 0)
      
  ); 
  padding: 20px; 
  border-radius: 20px; 
  position: relative;
  max-width: 900px; 
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 102, 161);
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative; /* position relative pour les bordures en forme de vague */
  border-style: solid;
  border-top:0;
  border-right:0;
  border-left:0;



  

}


